<h1>Editing appearance</h1>

<% form_for(@appearance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :web_site_id %><br />
    <%= f.text_field :web_site_id %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @appearance %> |
<%= link_to 'Back', appearances_path %>